.product-container-mobile{
    /*background: radial-gradient(102.44% 136.73% at 6.63% -2.39%, #EBF3F5 0%, #C5E2F0 54.71%);*/
    background: transparent;
    /*display: flex;*/
    /*justify-content: center;*/

}
.card-background-mobile{
    background-color: #A2BAC6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: green;
}