.faq-container{
    background: radial-gradient(102.44% 136.73% at 6.63% -2.39%, #EBF3F5 0%, #C5E2F0 54.71%);
width: 100%;
    height: 1500px;
    display: flex;
    /*gap: 190px;*/
    justify-content: space-between;
}
.faq-head{
    color: #22577A;
    font-size: 75px;
    font-weight: 400;
    /*background-color: green;*/
    margin-left: 150px;
    width: 575px;
    display: flex;
    margin-top: 184px;
}

.montserrat-reg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.faq-content{
    /*background-color: peru;*/
    margin-top: 184px;
    width: 858px;
    height: 1027px;
    margin-right: 150px;
}
.faq-question{
    display: flex;
    color: #1D2951;
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid rgba(29, 41, 81, 0.40);
    align-items: center;;
}
.faq-question img{
    width: 24px;
    height: 24px;
}
.ques-box{
    width: 100%;
    align-items: center;
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
}

.faq-answer.open {
    max-height: 1000px; /* Adjust this value based on the expected content height */
    transition: max-height 1s ease-in;
}

.link-faq{
    color: #008C00;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.underline-faq{
    border-bottom: 2px solid #008C00;
    cursor: pointer;
}
.faq-para{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    color: #2C3E50;
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
}
.caution-cont{
    align-items: center;
}
.caution,.caution1{
    align-items: center;
    height: fit-content;
}
.caution1{
    border-bottom: 1px solid white;
}