.loading-screen,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.loading-screen {
    background-color: #f0f0f0;
}

.overlay {
    background-color: #ffffff;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.textTrain {
    transition: opacity 2s ease-in, transform 2s ease-in;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.textTrain.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.montserrat-font {
                     font-family: "Montserrat", sans-serif;
                     font-optical-sizing: auto;
                     font-weight: 500;
                     font-style: normal;
                 }
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.reveal.animate {
    opacity: 1;
    transform: translateY(0);
}
.faq-close-img{
    transition: transform 0.5s ease-in-out;
}
.faq-close-img.rotate{
    transform: rotate(45deg);
}