.navbar {
  border-top: 1px solid rgba(144, 142, 142, 0.7);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  background-color: #4F83CC;
  padding-right: 88px;
  padding-left: 88px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 24px;
  width: 1560px;
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 24px;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border-radius 0.5s ease-in-out, margin-top 0.5s ease-in-out; /* Include other properties in the transition */
}

.navbar.full-width {
  height: 30px;
  width: 91%;
  margin-top: 0;
  border-radius: 0; /* Chae border-radius when navbar is full width */
}

.nav-container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 107px;
  justify-content: center;
}

.btn-1 {
  width: 178px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 25px;
  outline: none;
  border: none;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #1D2951;
  line-height: normal;
}

.logo-buttons {
  display: flex;
  align-items: center;
}

#ather-logo {
  height: 20px;
  width: 158px;
  margin-right: 30px;
}

.nav-links {
  display: flex;
  color: white;
  font-family: Ubuntu;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  padding: 0;
}

li {
  margin-right: 30px;
}

#ham {
  height: 24px;
  width: 24px;
}

#india {
  height: 16px;
  width: 16px;
}

.type2 {
  background-color: white;
  height: 30px;
  width: 168px;
  display: flex;
}

#dropdown {
  margin-left: 5px;
}

.textspace {
  margin-right: 5px;
}

.cards {
  width: 1920px;
  height: 808px;
  background: url(../src/assets/Homepage_banner_rizta_Desk 1.png);
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  top: 130px;
  position: absolute;
  left: 200px;
  width: 1520px;
  /*height: 50px;*/
  /*background: green;*/
}
.img-links{
  display: flex;
  font-weight: 400;
}
#img-btn{
  display: flex;
height: 27px;
  width: 98px;
  padding-right: 60px;
  padding-left: 60px;
  color: var(--Primary-text, #D3D3D3);
  padding-top: 22px;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
  border-radius: 25px;
  border-radius: 25px;
  font-size: 18px;
  border: 1px solid var(--transparent-background, rgba(255, 255, 255, 0.00));
  background: var(--button-gradient-2, linear-gradient(90deg, #4F83CC 0%, #284266 101%));
  margin-right: 30px;
  font-family: Ubuntu;
}
.underlined-link{
  display: flex;
  color: var(--Primary-text, #D3D3D3);
  font-size: 18px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  flex-direction: column;
  /*height: fit-content;*/
}
.line{
  height: 1px;
  width: 100%;
  background-color: white;
  margin-top: -10px;

}
.img-header{
  font-size: 70px;
  font-family: Ubuntu;
  color: var(--another-gradient, linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.38) 100%));

}