

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body {
  overflow-x: hidden;
  /*height: 5000px;*/
  background: radial-gradient(102.44% 136.73% at 6.63% -2.39%, #EBF3F5 0%, #C5E2F0 54.71%);
}
@layer components {
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .mask {
    height: 100%;
    width: 100%;
    /*object-fit: contain;*/
    transform-origin: center;
  }
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }
  .perspective {
    perspective: 2200px;
  }
}
